<div class="col-4 col-12-medium">
	<div id="sidebar">
		<section>
			<header class="major">
				<h2>Добро пожаловать!</h2>
			</header>
			<p>
				Мы — команда профессионалов, которая уже более 10 лет занимается разработкой и внедрением инновационных решений для умных городов.

				Наша миссия — создание комфортной, безопасной и экологически устойчивой городской среды с использованием передовых технологий. Мы разрабатываем и интегрируем системы управления энергией, умным транспортом, городской инфраструктурой и цифровыми услугами, которые делают города удобнее для жителей и эффективнее для управления.
			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
					Перейти к услугам
				</a>
			</footer>
		</section>
	</div>
</div>